.root {
  margin: 0 10% 0 10%;
  border: solid lightgrey 1pt;
}

.connections {
  border: solid black 2pt;
  padding: 0 10% 0 10%;
}

.paired-list-item {
  text-decoration: underline;
}

.paired-list-item:hover {
  cursor: pointer;
}

.paired-list-item:hover:not(.open) {
  color: lightgreen;
}

.open {
  color: lightgreen;
}

.open:hover {
  color: red;
  cursor: pointer;
}

.pair {
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
}

.pair:hover {
  color: blueviolet;
  cursor: pointer;
}

.zeroing {
}

.zero-btn {
}

.jog-panel {
  margin: 10pt 40pt 10pt 40pt;
}

.panel-btn {
  padding: 10pt;
}

.control {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* Equal column sizes */
  grid-template-rows: 100px; /* Equal row height */
}

#xplus {
  grid-column: 1;
  grid-row: 2;
}

#yplus {
  grid-column: 2;
  grid-row: 1;
}

#xminus {
  grid-column: 3;
  grid-row: 2;
}

#yminus {
  grid-column: 2;
  grid-row: 3;
}

#zplus {
  grid-row: 1;
  grid-column: 4;
}

#zminus {
  grid-row: 3;
  grid-column: 4;
}

#zorigin {
  grid-row: 2;
  grid-column: 4;
}

#reset {
  grid-column: 3;
  grid-row: 3;
}

#stepsize-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 2;
}

#stepsize {
  padding: 2pt;
}

#xyorigin {
  grid-column: 1;
  grid-row: 3;
}

.control .panel-btn {
  margin: 5pt;
}

.console {
  width: 100%;
  height: 20vh;
}
